# General Template
DEBUG=True
SECRET_KEY=django-insecure-replace-this-in-prod
DATABASE_URL=sqlite:///db.sqlite3

# Email Settings (Gmail)
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password

# Bunny Stream API
BUNNY_API_KEY=your-api-key
BUNNY_VIDEO_LIBRARY_ID=your-library-id
BUNNY_STREAM_HOSTNAME=video.your-domain.com

# Redis (for Celery)
REDIS_URL=redis://localhost:6379/0
