Django~=5.2
djangorestframework
djangorestframework-simplejwt
django-environ
django-jazzmin
psycopg2-binary
redis
celery
Pillow
PyPDF2
reportlab
ruff
django-cors-headers
pyjwt
drf-spectacular
gunicorn
sentry-sdk
requests
boto3
cryptography
django-jsoneditor
yt-dlp
google-genai
python-docx
